.container__small-card{
    width: 700px;
    margin-bottom: 15px; /* margem de baixo*/
}

.small-card__photo > img {
    width: 100%;
    width: 200px;
    margin-right: 20px;
    
}

.small-card__title{
    display: flex;
    justify-content: center;  /* centralizado na horizontal e vestical */
    align-items: center;
}

.container__small-card-content{
    display: flex;
    flex-direction: row;
}

.container__small-card__separator{
    margin-top: 10px; /* margem de cima*/
}